@model QuanLySinhVien.Models.DTO.NghanhDTO

@{
    ViewData["Title"] = "Thêm mới nghành";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<main>
    <div class="container-fluid px-4">
        <h1> Thêm mới</h1>

        <h4>Nghanh</h4>
        <hr />
        <div class="row">
            <div class="col-md-4">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="MaNghanh" class="control-label">Mã nghành</label>
                        <input asp-for="MaNghanh" class="form-control" />
                        <span asp-validation-for="MaNghanh" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="TenNghanh" class="control-label">Tên nghành</label>
                        <input asp-for="TenNghanh" class="form-control" />
                        <span asp-validation-for="TenNghanh" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="MaKhoa" class="control-label"> Tên Khoa</label>
                        <select asp-for="MaKhoa" class="form-control" asp-items="ViewBag.Khoa"></select>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>

        <div>
            <a asp-action="Index">Back to List</a>
        </div>
    </div>
</main>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
