@model QuanLySinhVien.Models.DTO.KhoaDto

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var years = new List<SelectListItem>();
    for (int year = 2000; year <= 2050; year++)
    {
        years.Add(new SelectListItem(year.ToString(), year.ToString()));
    }
}

<main>
    <div class="container-fluid px-4">
        <h1>Thêm mới</h1>

        <h4>Khoa</h4>
        <hr />
        <div class="row">
            <div class="col-md-4">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="MaKhoa" class="control-label"></label>
                        <input asp-for="MaKhoa" class="form-control" />
                        <span asp-validation-for="MaKhoa" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="TenKhoa" class="control-label"></label>
                        <input asp-for="TenKhoa" class="form-control" />
                        <span asp-validation-for="TenKhoa" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="NamThanhLap" class="control-label"> Năm thành lập</label>
                        <select class="form-select w-50" asp-for="NamThanhLap" asp-items="years"></select>
                        <span asp-validation-for="NamThanhLap" class="text-danger"></span>
                    </div>
                    <div class="form-group mt-4">
                        <input type="submit" value="Create" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>

        <div>
            <a asp-action="Index">Quay Lại</a>
        </div>
    </div>
</main>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
