@model QuanLySinhVien.Models.DTO.MonHocDTO

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<main>
    <div class="container-fluid px-4 pt-2">
        <h1>Sửa</h1>

        <h4>Môn học</h4>
        <hr />
        <div class="row">
            <div class="col-md-4">
                <form asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="MaMh" />

                    <div class="form-group">
                        <label class="control-label"> Mã Lớp</label>
                        <input type="text" class="form-control" disabled value="@Model.MaMh" />
                    </div>
                    <div class="form-group">
                        <label asp-for="TenMh" class="control-label">Tên môn học</label>
                        <input asp-for="TenMh" class="form-control" />
                        <span asp-validation-for="TenMh" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Ki" class="control-label">Kì</label>
                        <input asp-for="Ki" class="form-control" />
                        <span asp-validation-for="Ki" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="SoTinChi" class="control-label">Số tín chỉ</label>
                        <input type="number" asp-for="SoTinChi" class="form-control" />
                        <span asp-validation-for="SoTinChi" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Lưu" class="btn btn-primary mt-2" />
                    </div>
                </form>
            </div>
        </div>

        <div>
            <a asp-action="Index">Quay lại</a>
        </div>
    </div>
</main>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
